html {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

h1 {
  text-align: center;
}

.page nav{
  width: 100%;
  margin: 0;
}

.page nav ol{
  margin: 0;
  overflow: hidden;
  list-style-type: none;
  padding: 0;
}

.page nav li{
  float: left;
  width: 25%;
  list-style-type: none;
}

nav a{
  text-align: center;
  display: block;
  color: #42210b;
  text-decoration: none;
  padding: 0.74em;
  background-color: #c69c6d;
  font-size: 1em;
}
